<!DOCTYPE html>
<html lang="vi">
<head>
    <script src="/js/jquery.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-image: url(https://initiate.alphacoders.com/images/506/stretched-1366-768-506877.jpg?2995); background-size: auto; background-repeat: no-repeat ; color: rgb(255, 255, 255); font-size: 1.5em; font-family: 'Times New Roman'">
  <div style="margin: 250px auto; text-align: center; width: 500px; padding: auto; background-color: none; border-radius: 30px;">
      <form style="margin: 75px auto;" action="/auth/login" method="POST">
        <div style="margin: 10px auto;" class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input style=" border-radius: 30px; text-align: center;" name="email" type="email" id="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input style=" border-radius: 30px; text-align: center;" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button style="width: 100px; border-radius: 30px" type="submit" class="btn btn-primary">Login</button>
      </form>
  </div>  
</body>
</html>