<!DOCTYPE html>
<html>
<head>
	<title>Sensor</title>
	<script src="jquery.js"></script>
	<script src ="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type = "text/css" href="normalize.css"/>
	<link rel="stylesheet" type = "text/css" href="layout.trangtru.css"/>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="namcu">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="canonical" href="http://www.bootstraptoggle.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
  	<script src="https://unpkg.com/chartjs-gauge@0.2.0/dist/chartjs-gauge.js"></script>
  	<script src="https://unpkg.com/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.js"></script>
    <link href="/css/bootstrap-toggle.css" rel="stylesheet">
	<script src="/js/bootstrap-toggle.js"></script>
	<link rel="shortcut icon" type="image/png" href="/sensor.png"/>
</head>
<body >
    <div style="background-color: rgb(255, 255, 255); height: 1000px;" id="home">
     	<div id="header">
			<ul>
				<li><a href="/gioithieu">Giới thiệu</a></li>
				<li><a href="/">Điều khiển</a></li>
				<li><a href="/cambien">Sensor</a></li>
				<li><a href="/lichsu">Lịch Sử</a></li>
				<li><a href="/charts">charts</a></li>
			</ul>
     	</div>
     	<div id="mid">
			<div class="row">
				<div style="color: rgb(0, 0, 0); font-size: 5em;" class="col">
					<canvas id="chart"></canvas>
					<div class="row">
						<div style="color: rgb(0, 0, 0); font-size: 0.5em; text-align: left; margin-left: 70px;" class="col">
							<span>0°C</span>
						</div>
						<div style="color: rgb(0, 0, 0); font-size: 0.5em;" class="col">
							<span id="temp1">...</span>
							<span>°C</span>
						</div>
						<div style="color: rgb(0, 0, 0); font-size: 0.55em; text-align: right; margin-right: 50px;" class="col">
							<span>100°C</span>
						</div>
					</div>
				</div>
				<div style="color: rgb(0, 0, 0); font-size: 5em;" class="col">
					<span><b>Độ ẩm: </b></span>
					<span id="humi1">...</span>
					<span>%</span>
				</div>
			</div>
      	</div>
	</div>
	<script src = "xuly.cambien.js"></script>
</body>
</html>
