<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type = "text/css" href="layout.charts.css"/>
    <script src="jquery.js"></script>
	<script src ="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="shortcut icon" type="image/png" href="/bar-chart.png"/>
</head>
<body>
    <div id="header">
		<ul>
			<li><a href="/gioithieu">Giới thiệu</a></li>
			<li><a href="/">Điều khiển</a></li>
			<li><a href="/cambien">Sensor</a></li>
            <li><a href="/lichsu">Lịch Sử</a></li>
            <li><a href="/charts">charts</a></li>
		</ul>
    </div>
    <div style="text-align: center;">
        <h1>ánh sáng</h1>
    </div>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <div style="text-align: center;">
        <h1>temperature</h1>
    </div>
    <div>
        <canvas id="myChart1"></canvas>
    </div>
    <div style="text-align: center;">
        <h1>humidity</h1>
    </div>
    <div>
        <canvas id="myChart2"></canvas>
    </div>
    <script src = "xuly.charts.js"></script>
</body>
</html>