<!DOCTYPE html>
<html lang="vi" >
  <head>
    <meta charset="utf-8">
    <title>charts</title>
   <script src="jquery.js" charset="utf-8"></script>
   <script src ="https://namcu.herokuapp.com/socket.io/socket.io.js"></script>
   <script src="xuly" charset="utf-8"></script>
   <link rel="stylesheet" type = "text/css" href="setup.css"/>
  </head>
  <body>
    <div class="container">
          <div class="header">
            <h1> Home </h1>
            <p>nam</p>
        </div>
        <div class="main">
          <div id="Sensor">
            <h1>Sensor</h1>
          <div class="nhietdo">
          <span>nhiệt độ:</span>
          <span id="temp">...</span>
          <span>C</span>
        </div>
      <div class="nhietdo">
        <span>độ ẩm:</span>
        <span id="humi">...</span>
        <span>%</span>
      </div>
      <div class="congsuat">
        <span>Công suất thực:</span>
        <span id="P">...</span>
        <span>Wh</span>
      </div>
    </div>
      <div id="button">
        <h1>Button</h1>
        <div>
        <div class="led">
        <span class="led">Đèn 1:</span>
        <span class="led" id="trangthaiden1">...</span>
        </div>
        <div class="led">
        <input type="button" id="onden" class="buttonio" value="On"/>
        <input type="button" id="offden" class="buttonio" value="Off"/>
        </div>
        </div>
        <div>
        <div class="led">
        <span class="led">Đèn 2:</span>
        <span class="led" id="trangthaiden2">...</span>
        </div>
        <div class="led">
        <input type="button" id="onden1" class="buttonio" value="On"/>
        <input type="button" id="offden1" class="buttonio" value="Off"/>
        </div>
        </div>
        </div>
      </div>
      </body>
  </body>
</html>
