<!DOCTYPE html>
<html lang="vi" >
<head>
<meta charset="utf-8">
	<title>gioithieu</title>
	<link rel="stylesheet" type = "text/css" href="layout.gioithieu.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="canonical" href="http://www.bootstraptoggle.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="/content.png"/>
</head>
<body>
	<div id="header">
		<ul>
			<li><a href="/gioithieu">Giới thiệu</a></li>
			<li><a href="/">Điều khiển</a></li>
			<li><a href="/cambien">Sensor</a></li>
			<li><a href="/lichsu">Lịch Sử</a></li>
			<li><a href="/charts">charts</a></li>
		</ul>
	</div>
	<div id="content">
		<p>
			<img src="https://hopquysanpham.com/wp-content/uploads/2019/12/nha-yen.jpg" alt="">
			Ở yến nhà, chim trưởng thành có trọng lượng trung bình là 13,24 g. Lông của chúng có màu đen hơi nhạt ở phần trên, xám đen phía dưới; ở giữa phần lưng với đuôi là lông màu xám. Chim yến nhà có móng chân màu đen, mắt hạt nhãn màu nâu đen, cằm màu nâu xám bạc tạo thành vòng cườm. Bộ móng của chim yến rất phát triển. Nguyên nhân là do chúng thường sử dụng đôi chân để đeo bám lên các giá thể như: vách đá, bờ tường, giá gỗ. Đặc điểm này hình thành để thích nghi với thói quen của chim yến. Nhân đây nói thêm, mặc dù có thói quen đeo bám nhưng chim yến không đậu trên các cành cây hay dây điện.
		</p>
	</div>
</body>
</body>
</html>
