<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <script src="jquery.js"></script>
    <script src ="https://namcu.herokuapp.com/socket.io/socket.io.js"></script>
    <script src="xuly1.js"></script>
    <link rel="stylesheet" type="text/css" href="setup.css">
  </head>
  <body>
    <span id="mychart1">...</span>
  </body>
</html>
