<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="setup.css">
  </head>
  <body>
    <h1>đây là trang setup</h1>
  </body>
</html>
