<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <script src="jquery.js"></script>
    <script src ="https://namcu.herokuapp.com/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="setup.css">
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-analytics.js"></script>
    <script src="chart.js"></script>
    <script src="setup.js" ></script>
  </head>
  <body>
 <canvas id="myChart">
 </canvas>
  </body>
</html>
