<!DOCTYPE html>
<html>
<head>
<title>home</title>
<script src="jquery.js"></script>
<script src ="https://namcu.herokuapp.com/socket.io/socket.io.js"></script>
  <script src = "xuly1.js"></script>
  <link rel="stylesheet" type = "text/css" href="normalize.css"/>
  <link rel="stylesheet" type = "text/css" href="setup.css"/>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="namcu">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0">
  var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45]
        }]
    },

    // Configuration options go here
    options: {}
});
  </script>
</head>
<body >
  <span id ="temp">...</span>
  <canvas id="myChart" width="400" height="400"></canvas>
</body>
</html>
