<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <script src="jquery.js"></script>
    <script src ="https://namcu.herokuapp.com/socket.io/socket.io.js"></script>
    <script src ="https://namcu.herokuapp.com/chartjs/dist/Chart.js"></script>
    <link rel="stylesheet" type="text/css" href="setup.css">
    <script src="setup.js" ></script>
  </head>
  <body>
    <form>
      <input type="button" id="testbtn" value="test"/>
    </form>
    <div id="mychart1">
    </div>
 <canvas id="myChart" height="400px" width="400px">
 </canvas>
  </body>
</html>
