<!DOCTYPE html>
<html>
<head>
<title>home</title>
<script src="jquery.js"></script>
<script src ="https://namcu.herokuapp.com/socket.io/socket.io.js"></script>
  <script src="/scripts/d3.min.js" ></script>
  <script src="/scripts1/epoch.min.js" ></script>
  <link rel="stylesheet" type = "text/css" href="normalize.css"/>
  <link rel="stylesheet" type = "text/css" href="setup.css"/>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/scripts2/epoch.min.css">
    <script>
    var data1;
    var socket = io("https://namcu.herokuapp.com");
    socket.on("dulieu", function(data){
      data1 = data;
      document.getElementById("temp").innerHTML = data["time"];
    });
  </script>
</head>
<body >
  <span id ="temp">...</span>
  <div id="myChart" class="epoch category10" style="width: 800px; height: 200px; border: 1px"></div>
  <p id="demo"></p>
  <p id="demo1"></p>
  <p id="oneclick" onclick="changedata()" > click</p>
  <input type="button" id="button"/>
  <script>
  function time(){
      var dt = new Date();
      var miliSec = dt.getTime();
      document.getElementById("demo1").innerHTML = miliSec;
      return dt;
  };

    function random(){
      var dem = Math.random() * 100;
      return dem;
    };
    setInterval(function () {
      var newdata = [{time: data, y: random()}];
      document.getElementById("demo").innerHTML = random();


       myChart.push(newdata);
    }, 100);


    var areaChartData = [
      {
      label: "Layer 1",
       values: [{time: time(), y: random()}],
    },
  ];
      var myChart = $('#myChart').epoch({
       type: 'time.line',
       data: areaChartData,
       axes: ['right', 'bottom', 'left']
      });
</script>

</body>
</html>
