<!DOCTYPE html>
<html>
<head>
<title>home</title>
<script src="jquery.js"></script>
<script src ="https://namcu1998.herokuapp.com/socket.io/socket.io.js"></script>
  <script src = "xuly.js"></script>
  <link rel="stylesheet" type = "text/css" href="layout.css"/>
</head>
<body >
  <table>
    <tr>
      <div type="text"> TEST <div>
    </tr>
    <tr>
      <th>
        <div type = "text" id = "text">Đèn D0</div>
        <input type="button" id="onden" value = "ON" />
        <input type="button" id="offden" value = "OFF" />
      </th>
      <th>
        <div type = "text" id = "text">Đèn D4</div>
        <input type="button" id="onden1" value = "ON" />
        <input type="button" id="offden1" value = "OFF" />
      </th>
      <th>
        <div type = "text" id = "text">Đèn DN</div>
        <input type="button" id="onden2" value = "ON" />
        <input type="button" id="offden2" value = "OFF" />
      </th>
    </tr>
    <tr>
    </tr>
  </table>
  <div>
  <div id = "mess" type = "text" >...</div>
</div>
</body>
</html>
