<!DOCTYPE html>
<html>
<head>
	<title>Nam</title>
	<script src="jquery.js"></script>
	<script src ="/socket.io/socket.io.js"></script>
	<script src = "xuly.js"></script>
	<link rel="stylesheet" type = "text/css" href="normalize.css"/>
	<link rel="stylesheet" type = "text/css" href="layout.trangtru.css"/>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="namcu">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="canonical" href="http://www.bootstraptoggle.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootstrap-toggle.css" rel="stylesheet">
    <script src="/js/bootstrap-toggle.js"></script>
</head>
<body >
    <div id="home">
      	<img src="https://images8.alphacoders.com/498/thumb-1920-498993.jpg"/>
     	<div id="header">
			<ul>
				<li><a href="/gioithieu">Giới thiệu</a></li>
				<li><a href="/">Điều khiển</a></li>
				<li><a href="/cambien">Sensor</a></li>
				<li><a href="/lichsu">Lịch Sử</a></li>
			</ul>
		</div>
		<div id="controller">
			<input id="toggle-event" data-on="AUTO" data-off="CONTROL" type="checkbox" data-toggle="toggle">
		</div>
		<div class="row">
			<div class="col">
				<div>
					<div class="led">
						<span class="led">Loa:</span>
					</div>
					<div id="den1" class="led">
						<input id="toggle-event" data-on="LED ON" data-off="LED OFF" type="checkbox" data-toggle="toggle">
						<div id="console-event"></div>
					</div>
				</div>
				<div>
					<div class="led">
						<span class="led">Fan:</span>
					</div>
					<div id="den1" class="led">
						<input id="toggle-event" data-on="LED ON" data-off="LED OFF" type="checkbox" data-toggle="toggle">
						<div id="console-event"></div>
					</div>
				</div>
			</div>
			<div class="col">
				<div>
					<div class="led">
						<span class="led">máy phun sương:</span>
					</div>
					<div id="den1" class="led">
						<input id="toggle-event" data-on="LED ON" data-off="LED OFF" type="checkbox" data-toggle="toggle">
						<div id="console-event"></div>
					</div>
				</div>
				<div>
					<div class="led">
						<span class="led">Đèn 1:</span>
					</div>
					<div id="den1" class="led">
						<input id="toggle-event" data-on="LED ON" data-off="LED OFF" type="checkbox" data-toggle="toggle">
						<div id="console-event"></div>
					</div>
				</div>
			</div>
			<div class="col">
				<div>
					<div class="led">
						<span class="led">Đèn 1:</span>
					</div>
					<div id="den1" class="led">
						<input id="toggle-event" data-on="LED ON" data-off="LED OFF" type="checkbox" data-toggle="toggle">
						<div id="console-event"></div>
					</div>
				</div>
				<div>
					<div class="led">
						<span class="led">Đèn 1:</span>
					</div>
					<div id="den1" class="led">
						<input id="toggle-event" data-on="LED ON" data-off="LED OFF" type="checkbox" data-toggle="toggle">
						<div id="console-event"></div>
					</div>
				</div>
			</div>
		</div>
		<div>
			
		</div>
	</div>
</body>
</html>
