<!DOCTYPE html>
<html>
<head>
<title>home</title>
<script src="jquery.js"></script>
<script src ="https://tomchiengion1998.herokuapp.com/socket.io/socket.io.js"></script>
  <script src = "xuly.js"></script>
  <link rel="stylesheet" type = "text/css" href="layout.css"/>
</head>
<body >
  <table>
    <tr>
    <th>
      <div type = "text" id = "text">Đèn 1</div>
      <input type="button" id="onden" value = "ON" />
      <input type="button" id="offden" value = "OFF" />
      <div id = "mess1" type = "text" >...</div>
    </th>
    <th>
      <div type = "text" id = "text">Đèn 2</div>
      <input type="button" id="onden1" value = "ON" />
      <input type="button" id="offden1" value = "OFF" />
      <div id = "mess2" type = "text" >...</div>
    </th>
    <th>
      <div type = "text" id = "text">Đèn 3</div>
      <input type="button" id="onden2" value = "ON" />
      <input type="button" id="offden2" value = "OFF" />
      <div id = "mess3" type = "text" >...</div>
    </th>
    <th>
      <div type = "text" id = "text">Đèn 4</div>
      <input type="button" id="onden3" value = "ON" />
      <input type="button" id="offden3" value = "OFF" />
      <div id = "mess4" type = "text" >...</div>
    </th>
    <th>
      <div type = "text" id = "text">Đèn 5</div>
      <input type="button" id="onden4" value = "ON" />
      <input type="button" id="offden4" value = "OFF" />
      <div id = "mess5" type = "text" >...</div>
    </th>
    <th>
      <div type = "text" id = "text">Đèn 6</div>
      <input type="button" id="onden5" value = "ON" />
      <input type="button" id="offden5" value = "OFF" />
      <div id = "mess6" type = "text" >...</div>
    </th>
  </tr>
  <tr>
    <th>
      <div type = "text" id = "text">Sensor</div>
      <h1 > nhiệt độ: <div id = "temp" >...</div> </h1>
      <h1> độ ẩm: <div id = "humi">...</div>  </h1>
      </th>
      <th>
        <div type = "text" id = "text">Sensor</div>
        <h1 > nhiệt độ: <div id = "temp1" >...</div> </h1>
        <h1> độ ẩm: <div id = "humi1">...</div>  </h1>
        </th>
        <th>
          <div type = "text" id = "text">Sensor</div>
          <h1 > nhiệt độ: <div id = "temp" >...</div> </h1>
          <h1> độ ẩm: <div id = "humi">...</div>  </h1>
          </th>
          <th>
            <div type = "text" id = "text">Sensor</div>
            <h1 > nhiệt độ: <div id = "temp" >...</div> </h1>
            <h1> độ ẩm: <div id = "humi">...</div>  </h1>
            </th>
            <th>
              <div type = "text" id = "text">Sensor</div>
              <h1 > nhiệt độ: <div id = "temp" >...</div> </h1>
              <h1> độ ẩm: <div id = "humi">...</div>  </h1>
              </th>
              <th>
                <div type = "text" id = "text">Sensor</div>
                <h1 > nhiệt độ: <div id = "temp" >...</div> </h1>
                <h1> độ ẩm: <div id = "humi">...</div>  </h1>
                </th>
  </tr>

</table>
</body>
</html>
