<!DOCTYPE html>
<html>
<head>
<title>home</title>
<script src="jquery.js"></script>
<script src ="https://namcu1998.herokuapp.com/socket.io/socket.io.js"></script>
  <script src = "xuly.js"></script>
  <link rel="stylesheet" type = "text/css" href="layout.css"/>
</head>
<body >
  <div  id = "khungdau">
    <h1 id="text">trang web đang sửa cấm người lạ vào</h1>
  </div>
   <h1 type = "text"> đèn D0 </h1>
   <input type="button" id=" onden" />
   <input type="button" id=" offden" />
  <div id="useronline" >
    <p id="user" type ="text"> <br> </p>
  </div>
  <div id="a">
    -----------------------------------
  </div>
  <div id="mess">
    <div id="messe" type="text"></div>
  </div>
  <div id ="title">
    <input type = "text" id ="nhap"/>
    <input type = "button" id = "button" value = "chat" />
  </div>
  <div id="khungchat">
  </div>
</body>
</html>
