<!DOCTYPE html>
<html>
<head>
<title>home</title>
<script src="jquery.js"></script>
<script src ="https://tomchiengion1998.herokuapp.com/socket.io/socket.io.js"></script>
  <script src = "xuly.js"></script>
  <link rel="stylesheet" type = "text/css" href="layout.css"/>
</head>
<body >
  <div id ="login">
    <div type = "text" >Login</div>
    <input type="text" id ="username"/>
    <input type="text" id ="password"/>
    <input type ="button" id ="btnlogin" value ="login"/>
  </div>
  <div id="home">
  <div id="esp1" type="text" >esp1 disconnect</div>
  <div id="esp2" type="text">esp2 disconnect</div>
    <tr>
    <th>
      <div type = "text" id = "text">Đèn 1</div>
      <input type="button" id="onden" value = "ON" />
      <input type="button" id="offden" value = "OFF" />
      <div id = "mess1" type = "text" >...</div>
    </th>
    <th>
      <div type = "text" id = "text">Đèn 2</div>
      <input type="button" id="onden1" value = "ON" />
      <input type="button" id="offden1" value = "OFF" />
      <div id = "mess2" type = "text" >...</div>
    </th>
  </tr>
</div>

</body>
</html>
