<!DOCTYPE html>
<html>
<head>
<title>home</title>
<script src="jquery.js"></script>
<script src ="https://tomchiengion1998.herokuapp.com/socket.io/socket.io.js"></script>
  <script src = "xuly.js"></script>
  <link rel="stylesheet" type = "text/css" href="layout.css"/>
</head>
<body >
  <div id ="login">
    <div type = "text" >Login</div>
    <input type="text" id ="username"/>
    <input type="text" id ="password"/>
    <input type ="button" id ="btnlogin" value ="login"/>
  </div>
  <div id="home">
  <div id="esp1" type="text" >esp1 disconnect</div>
  <div id="esp2" type="text">esp2 disconnect</div>
  <div type="text" id="header"> room1
  </div>
  <div id ="room1">
  <div id ="den1">
  <div type = "text" id = "text">Đèn 1</div>
    <div id = "mess1" type = "text" >...</div>
    <input type="button" id="onden" value = "ON" />
    <input type="button" id="offden" value = "OFF" />
  </div>
  <div id ="den2">
  <div type = "text" id = "text2">Đèn 1</div>
    <div id = "mess2" type = "text" >...</div>
    <input type="button" id="onden" value = "ON" />
    <input type="button" id="offden" value = "OFF" />
  </div>
  <div id="sensor">
    <div id="nhietdo" > nhiệt độ:</div>
     <div id = "temp" >...</div>
      <div id ="C">*C</div>
  </div>
  <div id="sensor1">
    <div id="doam" >độ ẩm:</div>
     <div id = "humi" >...</div>
      <div id ="donvi">%</div>
  </div>
</div>
 <div id="room2">
 </div>
 <div id="room3">
 </div>
</div>


</body>
</html>
