<!DOCTYPE html>
<html>
<head>
<title>test</title>
<script src="jquery.js"></script>
<script src ="socket.io/socket.io.js"></script>
  <script src = "xuly.js"></script>
  <link rel="stylesheet" type = "text/css" href="layout.css"/>
</head>
<body>
  <div  id = "khung dau">
    <h1 id="text">đây là tiêu đề</h1>
  </div>
  <div id="useronline" >
    <div id="user" type ="text"> </div>
  </div>
  <div id="a">
    -----------------------------------
  </div>
  <div id="mess">
    <div id="messe" type="text"></div>
  </div>
  <div id ="title">
    <input type = "text" id ="nhap"/>
    <input type = "button" id = "button" value = "chat" />
  </div>
  <div id="khungchat">
  </div>
</body>
</html>
