<!DOCTYPE html>
<html>
<head>
<title>home</title>
<script src="jquery.js"></script>
<script src ="https://namcu1998.herokuapp.com/socket.io/socket.io.js"></script>
  <script src = "xuly.js"></script>
  <link rel="stylesheet" type = "text/css" href="layout.css"/>
</head>
<body >
   <h1 type = "text"> đèn D0 </h1>
   <input type="button" id="onden" value = "ON"/>
   <input type="button" id="offden" value = "OFF" />
  <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-change="changeLED()" ng-model="leds_status[$index]" />
</body>
</html>
