<!DOCTYPE html>
<html>
<head>
<title>home</title>
<script src="jquery.js"></script>
<script src ="https://tomchiengion1998.herokuapp.com/socket.io/socket.io.js"></script>
  <script src = "xuly.js"></script>
  <link rel="stylesheet" type = "text/css" href="layout.css"/>
</head>
<body >
  <div id ="login">
    <div type = "text" >Login</div>
    <input type="text" id ="username"/>
    <input type="password" id ="password"/>
    <input type ="button" id ="btnlogin" value ="login"/>
  </div>
    <div id="home">
    <div id="header">
       <h1>home</h1>
         <p>Cù văn Nam</p>
      </div>
      <div id = "mid-left">
        <h1>room</h1>
        <div id ="line">
        </div>
     <input type="button" id="btnbutton1" class="button" value="Room1"/>
     <input type="button" id="btnbutton2" class="button" value="Room2"/>
      </div>
      <div id="mid">
        <h1>Sensor</h1>
        <div id ="line">
        </div>
        <div id="Sensor">
        <div  class="nhietdo">
        <span>nhiệt độ:</span>
        <span id ="temp">...</span>
        <span>*C</span>
      </div>
      <div class="nhietdo">
      <span>độ ẩm:</span>
      <span id ="humi">...</span>
      <span>%</span>
    </div>
    </div>
        <div id="Sensor1">
        <div  class="nhietdo">
        <span>nhiệt độ:</span>
        <span id ="">...</span>
        <span>*C</span>
      </div>
      <div class="nhietdo">
      <span>độ ẩm:</span>
      <span id ="">...</span>
      <span>%</span>
      </div>
      </div>
      </div>
      <div id = "mid-right">
        <h1>Button</h1>
        <div id ="line">
        </div>
        <div id="button">
      <div>
      <div class="led">
      <span class="led">Đèn 1:</span>
      <span class="led" id="trangthaiden1">...</span>
      </div>
      <div id="den1" class="led">
      <input type="button" id="onden" class="buttonio" value="On"/>
      <input type="button" id="offden" class="buttonio" value="Off"/>
      </div>
      </div>
      <div>
      <div class="led">
      <span class="led">Đèn 2:</span>
      <span class="led" id="trangthaiden2">...</span>
      </div>
      <div class="led">
      <input type="button" id="onden1" class="buttonio" value="On"/>
      <input type="button" id="offden1" class="buttonio" value="Off"/>
      </div>
      </div>
    </div>
    <div id="button1">
  <div>
  <div class="led">
  <span class="led">Đèn 1:</span>
  <span class="led" id="trangthaiden1">...</span>
  </div>
  <div id="den1" class="led">
  <input type="button" id="onden1" class="buttonio" value="On"/>
  <input type="button" id="offden1" class="buttonio" value="Off"/>
  </div>
  </div>
  <div>
  <div class="led">
  <span class="led">Đèn 2:</span>
  <span class="led" id="trangthaiden2">...</span>*
  </div>
  <div class="led">
  <input type="button" id="onden1" class="buttonio" value="On"/>
  <input type="button" id="offden1" class="buttonio" value="Off"/>
  </div>
  </div>
  </div>
    </div>
      <div id="bot">
        <span>desiger by nam</span>
      </div>
</div>


</body>
</html>
