<!DOCTYPE html>
<html>
<head>
<title>home</title>
<script src="jquery.js"></script>
<script src ="https://namcu1998.herokuapp.com/socket.io/socket.io.js"></script>
  <script src = "xuly.js"></script>
  <link rel="stylesheet" type = "text/css" href="layout.css"/>
</head>
<body >
  <div id = "room1">
   <h1 type = "text"> đèn D0 </h1>
   <input type="button" id="onden" value = "ON" width="300px height ="300px""/>
   <input type="button" id="offden" value = "OFF" />
 </div>
</body>
</html>
