@media only screen and (min-width: 600px) {
    body {

    }
    #header{
        background-position: center;
        background-size: 500px;
        color: #ffffff;
        text-align: center;
    }
    #header ul{
        margin: 0px;
        text-align: center;
        background-color: #442424;
    }
    #header ul li{
        width: 200px;
        height: 40px;
        display: inline-table;
        line-height: 40px;
    }
    #header ul li a{
        color: #ffffff;
        display: block;
        text-decoration: none;
    }
    #header ul li :hover{
        background-color: black;
    }
    #bot{
        font-family: arial;
        text-align: left;
        height: 400px;
        overflow-y: auto;
    }
    table{
        text-align: center;
        width: 99%;
        font-size: 2em;
        color: white;
    }
    #lichsu{
        border: 1px solid;
        text-align: left;
    }
    tbody tr th{
        border: 1px solid;
        padding: 10px;
    }
    #thongbao {
        color: white;
        font-size: 2em;
    }
}
@media only screen and (max-width: 600px) {
    body {
		margin: 0 auto;
	}
	#header ul{
		text-align: center;
		background-color: #442424;
        margin: 0;
        padding: 0;
	}
	#header ul li{
		width: 100px;
		height: 40px;
		display: inline-table;
		line-height: 40px;
	}
	#header ul li a{
		color: #ffffff;
		display: block;
		text-decoration: none;
	}
	#header ul li :hover{
		background-color: black;
	}
    #bot{
        font-family: arial;
        text-align: left;
        height: 400px;
        overflow-y: auto;
    }
    table{
        text-align: center;
        width: 99%;
        font-size: 1em;
        color: white;
    }
    #lichsu{
        border: 1px solid;
        text-align: left;
    }
    tbody tr td{
        border: 1px solid;
        padding: 10px;
    }
}