@media only screen and (min-width: 600px) {
	body {
		margin: 0 auto;
	}
	#header ul{
		text-align: center;
		background-color: #442424;
		margin: 0;
	}
	#header ul li{
		width: 200px;
		height: 40px;
		display: inline-table;
		line-height: 40px;
	}
	#header ul li a{
		color: #ffffff;
		display: block;
		text-decoration: none;
	}
	#header ul li :hover{
		background-color: black;
	}
}
@media only screen and (max-width: 600px) {
	body {
		margin: 0 auto;
	}
	#header ul{
		text-align: center;
		background-color: #442424;
		margin: 0;
	}
	#header ul li{
		width: 200px;
		height: 40px;
		display: inline-table;
		line-height: 40px;
	}
	#header ul li a{
		color: #ffffff;
		display: block;
		text-decoration: none;
	}
	#header ul li :hover{
		background-color: black;
	}
	.chart{
		width: 1000px;
		overflow-x: scroll;
	}
}
