body {
	margin: 0 auto;
}
#header ul{
	padding: 0;
	text-align: center;
	background-color: #442424;
	margin: 0;
}
#header ul li{
	width: 200px;
	height: 40px;
	display: inline-table;
	line-height: 40px;
}
#header ul li a{
	color: #ffffff;
	display: block;
	text-decoration: none;
}
#header ul li :hover{
	background-color: black;
}
img{
	float: left;
}
p{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 3em;
}