body {
	margin: 0 auto;
}
#header ul{
    padding: 0;
    text-align: center;
    background-color: #442424;
  }
  #header ul li{
    width: 100px;
    height: 40px;
    display: inline-table;
    line-height: 40px;
  }
  #header ul li a{
    color: #ffffff;
    display: block;
	text-decoration: none;
	font-size: 1em;
  }
  #header ul li :hover{
      background-color: black;
  }
  
/* img{
	float: left;
} */
#content{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
p{
	font-family: 'Times New Roman', serif;
	font-size: 1.5em;
}
img{
	position: absolute;
	z-index: -1;
}
#p{
	z-index: 0;
}