body {
  background-image: url(nam.png);
}
div{
  text-align: center;
  font-size: 100px;
  color: #ffffff;
}
 th{
  color: #ffffff;
}
#mess{
  color: #ffffff;
}
#room1{
  color: #ffffff;
  border-style: solid;
}
#onden{
  width: 100px;
  height: 100px;
}
#offden{
  width: 100px;
  height: 100px;
}
#onden1{
  width: 100px;
  height: 100px;
}
#offden1{
  width: 100px;
  height: 100px;
}
#onden2{
  width: 100px;
  height: 100px;
}
#offden2{
  width: 100px;
  height: 100px;
}
#text{
  font-size: 60px;
}
#room2{
  color: #ffffff;
  text-align: center;
  border-style: solid;
  margin-top: 10px;
}
