@media only screen and (min-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }

  #header ul {
    text-align: center;
    background-color: #442424;
    margin: 0;
    padding: 0;
  }
  #header ul li {
    width: 100px;
    height: 40px;
    display: inline-table;
    line-height: 40px;
  }
  #header ul li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
  }
  #header ul li :hover {
    background-color: black;
  }

  .hitstory {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hitstory div:nth-child(2) {
    width: 100%;
  }

  .hitstory div:nth-child(2) table {
    width: 100%;
    border: 2px solid black;
  }

  tr,
  th,
  td {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-weight: 300;
    border: 1px solid black;
  }

  .hitstory div:nth-child(3) {
    width: 100%;
    overflow-x: scroll;
  }

  #chartContainer {
    height: 300px;
    width: 4000px;
  }

  .content-container .hitstory div:nth-child(1) div
}
@media only screen and (max-width: 600px) {
  body {
    margin: 0 auto;
  }
  #header ul {
    text-align: center;
    background-color: #442424;
    margin: 0;
    padding: 0;
  }
  #header ul li {
    width: 100px;
    height: 40px;
    display: inline-table;
    line-height: 40px;
  }
  #header ul li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
  }
  #header ul li :hover {
    background-color: black;
  }

  .hitstory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hitstory div:nth-child(2) {
    width: 100%;
    overflow-x: scroll;
  }

  .hitstory div:nth-child(2) table {
    width: 1000px;
    border-collapse: collapse;
  }

  tr,
  th,
  td {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-weight: 300;
    border: 1px solid black;
  }

  .hitstory div:nth-child(3) {
    width: 100%;
    overflow-x: scroll;
  }

  #chartContainer {
    height: 300px;
    width: 2000px;
  }
}
