<div class="scroll-page">
    <div class="container-block">
        <div class="chart-block">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="container-block">
        <div class="chart-block">
            <canvas id="myChart1"></canvas>
        </div>
    </div>
    <div class="container-block">
        <div class="chart-block">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
    <div class="container-block">
        <div class="chart-block">
            <canvas id="myChart3"></canvas>
        </div>
    </div>
</div>