<div class="scroll-page">
    <div style="text-align: center;">
        <h1>Ánh sáng</h1>
    </div>
    <div class="chart-block">
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div style="text-align: center;">
        <h1>Nhiệt độ</h1>
    </div>
    <div class="chart-block">
        <div>
            <canvas id="myChart1"></canvas>
        </div>
    </div>
    <div style="text-align: center;">
        <h1>Độ ẩm</h1>
    </div>
    <div class="chart-block">
        <div>
            <canvas id="myChart2"></canvas>
        </div>
    </div>
</div>