<table>
    <tr>
        <td class="name-device">Bơm thủy canh</td>
        <td><input class="btn-toggle" class="btn-toggle" name="Device" onchange="activeDevice(this)" type="checkbox" toggle-size="large"
                <% if (data.Device == 1) { %>checked<% } %>></td>
        <td class="name-device">Phun sương</td>
        <td><input class="btn-toggle" name="Device1" onchange="activeDevice(this)" type="checkbox" toggle-size="large"
                <% if (data.Device1 == 1) { %>checked<% } %>></td>
    </tr>
    <tr>
        <td class="name-device">Đóng rèm</td>
        <td><input class="btn-toggle" name="Device2" onchange="activeDevice(this)" type="checkbox" toggle-size="large"
                <% if (data.Device2 == 1) { %>checked<% } %>></td>
        <td class="name-device">Mở rèm</td>
        <td><input class="btn-toggle" name="Device3" onchange="activeDevice(this)" type="checkbox" toggle-size="large"
                <% if (data.Device3 == 1) { %>checked<% } %>></td>
    </tr>
    <tr>
        <td class="name-device">Đèn</td>
        <td><input class="btn-toggle" name="Device6" onchange="activeDevice(this)" type="checkbox" toggle-size="large"
                <% if (data.Device6 == 1) { %>checked<% } %>></td>
        <td class="name-device">Quạt</td>
        <td><input class="btn-toggle" name="Device4" onchange="activeDevice(this)" type="checkbox" toggle-size="large"
                <% if (data.Device4 == 1) { %>checked<% } %>></td>
    </tr>
    <tr>
        <td class="name-device">Két nước</td>
        <td><input class="btn-toggle" name="Device5" onchange="activeDevice(this)" type="checkbox" toggle-size="large"
                <% if (data.Device5 == 1) { %>checked<% } %>></td>
        <td class="name-device">Bơm nước</td>
        <td><input class="btn-toggle" name="Device7" onchange="activeDevice(this)" type="checkbox" toggle-size="large"
                <% if (data.Device7 == 1) { %>checked<% } %>></td>
    </tr>
</table>