<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="utf-8">
	<title>Giới thiệu</title>
	<link rel="stylesheet" type="text/css" href="/css/layout.gioithieu.css" />
	<link rel="shortcut icon" type="image/png" href="/image/content.png" />
</head>

<body>
	<div class="navi">
		<ul>
			<li><a href="/">Giới thiệu</a></li>
			<li><a href="/home/">Điều khiển</a></li>
			<li><a href="/home/charts">Biều đồ</a></li>
		</ul>
	</div>
	<div class="header">
		<div id="logo">
			<img src="http://hcmute.edu.vn/Resources/Images/SubDomain/HomePage/Nut/logo-news.png" alt="">
		</div>
		<div id="imformation-student">
			<span>Giáo viên hưỡng dẫn:&nbsp; Họ và tên</span>
		</div>
		<div id="name-project">
			<!-- <h1>ĐỒ ÁN TỐT NGHIỆP</h1>
			<h2>Nhà trồng rau thủy canh giám sát bằng camera</h2> -->
		</div>
	</div>
	<div class="content">
	</div>
</body>
</body>

</html>