<!DOCTYPE html>
<html lang="vi" >
<head>
<meta charset="utf-8">
	<title>Giới thiệu</title>
	<link rel="stylesheet" type = "text/css" href="/css/layout.gioithieu.css"/>
	<link rel="shortcut icon" type="image/png" href="/image/content.png"/>
</head>
<body>
	<div id="header">
		<ul>
			<li><a href="/">Giới thiệu</a></li>
			<li><a href="/home/">Điều khiển</a></li>
			<li><a href="/home/cambien">Cảm biến</a></li>
			<li><a href="/home/lichsu">Lịch Sử</a></li>
			<li><a href="/home/tracuu">Tra cứu</a></li>
			<li><a href="/home/charts">Biều đồ</a></li>
		</ul>
	</div>
	<div id="content">
		<img width="100%" src="https://dulichvietnam.com.vn/kinh-nghiem/wp-content/uploads/2020/03/kinh-nghiem-du-lich-vung-chua-dao-yen-1.jpg" alt="">
		<div style="text-align: center; color: brown; padding-top: 20px;">
			<h1>ĐỀ TÀI: THIẾT KẾ VÀ THI CÔNG MÔ HÌNH <br> NHÀ NUÔI CHIM YẾN ĐIỀU KHIỂN, GIÁM SÁT TỪ XA</h1>
		</div>
	</div>
</body>
</body>
</html>
