<!DOCTYPE html>
<html lang="vi" >
<head>
<meta charset="utf-8">
	<title>Giới thiệu</title>
	<link rel="stylesheet" type = "text/css" href="/css/layout.gioithieu.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="canonical" href="http://www.bootstraptoggle.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="/image/content.png"/>
</head>
<body>
	<div id="header">
		<ul>
			<li><a href="/">Giới thiệu</a></li>
			<li><a href="/home/">Điều khiển</a></li>
			<li><a href="/home/cambien">Cảm biến</a></li>
			<li><a href="/home/lichsu">Lịch Sử</a></li>
			<li><a href="/home/tracuu">Tra cứu</a></li>
			<li><a href="/home/charts">Biều đồ</a></li>
		</ul>
	</div>
	<div style="clear: both; margin-top: 50px;" id="content">
		<img width="100%" src="https://dulichvietnam.com.vn/kinh-nghiem/wp-content/uploads/2020/03/kinh-nghiem-du-lich-vung-chua-dao-yen-1.jpg" alt="">
		<div style="text-align: center; color: brown; padding-top: 5px;">
			<h1><b>ĐỒ ÁN TỐT NGHIỆP</b></h1>
			<h2>ĐỀ TÀI: THIẾT KẾ VÀ THI CÔNG MÔ HÌNH <br> NHÀ NUÔI CHIM YẾN ĐIỀU KHIỂN, GIÁM SÁT TỪ XA</h2>
		</div>
	</div>
</body>
</body>
</html>
