<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="utf-8">
	<title>Giới thiệu</title>
	<link rel="stylesheet" type="text/css" href="/css/layout.gioithieu.css" />
	<link rel="shortcut icon" type="image/png" href="/image/content.png" />
</head>

<body>
	<div id="header">
		<ul>
			<li><a href="/">Giới thiệu</a></li>
			<li><a href="/home/">Điều khiển</a></li>
			<li><a href="/home/charts">Biều đồ</a></li>
		</ul>
	</div>
	<img src="" alt="">
</body>
</body>
</html>