<div class="container-main">
    <table>
        <thead>
            <tr>
                <th colspan="1">Ánh sáng</th>
                <th colspan="1">Nhiệt độ trong</th>
                <th colspan="1">Độ ẩm trong</th>
                <th colspan="1">Nhiệt độ ngoài</th>
                <th colspan="1">Độ ẩm ngoài</th>
                <th colspan="1">Thời gian</th>
                <th colspan="1">Bơm</th>
                <th colspan="1">PS</th>
                <th colspan="1">ĐR</th>
                <th colspan="1">MR</th>
                <th colspan="1">Quạt</th>
                <th colspan="1">KN</th>
                <!-- <th colspan="1">Sưởi</th> -->
            </tr>
        </thead>
        <div class="scroll-history">
            <tbody id="history">
            </tbody>
        </div>
    </table>
</div>