<!DOCTYPE html>
<html>
<head>
	<title>Nam</title>
	<script src="/js/jquery.js"></script>
	<script src ="/socket.io/socket.io.js"></script>
	<script src = "/js/xuly.js"></script>
	<link rel="stylesheet" type = "text/css" href="/css/layout.trangtru.css"/>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="namcu">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="canonical" href="http://www.bootstraptoggle.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/github.min.css" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="/browser.png"/>
	<link href="/cssToggle/bootstrap-toggle.css" rel="stylesheet">
	<script src="/jsToggle/bootstrap-toggle.js"></script>	
</head>
<body style="background-color: rgb(26, 48, 20);">
	<div id="header">
		<ul>
			<li><a href="/">Giới thiệu</a></li>
			<li><a href="/home/">Điều khiển</a></li>
			<li><a href="/home/cambien">Sensor</a></li>
			<li><a href="/home/lichsu">Lịch Sử</a></li>
			<li><a href="/home/charts">charts</a></li>
		</ul>
	</div>
	<div id="controller">
		<div class="row">
			<div class="col-sm">
				<div class="statusEsp">
					<span>trạng thái esp: </span>
					<span id="statusEsp"></span>
				</div>
			</div>
			<div class="col-sm">
				<input id="toggle-event-mode" data-on="CONTROL" data-off="AUTO" type="checkbox" data-toggle="toggle" <% if (data1 == 1) { %>checked<% } %>>
			</div>
			<div class="col-sm">
				<div class="statusEsp">
					<span>Cù Văn Nam</span>
				</div>
			</div>
		</div>
	</div>
	<div id="line" style="height: 1px; background-color: white; margin: 10px;"></div>
	<div class="container" id="controll" style="color: white; font-size: 3em; padding-top: 20px;">
		<div class="row">
		  <div style="text-align: left;" class="col-sm">
			<div class="led">
				<span class="led">Loa:</span>
				<input id="button" data-on="ON" data-off="OFF" type="checkbox" data-toggle="toggle" data-size="large" <% if (data.speaker == 1) { %>checked<% } %>>
			</div>
		  </div>
		  <div style="text-align: center;" class="col-sm">
			<div class="led">
				<span class="led">FanHumi:</span>
				<input id="button1" data-on="ON" data-off="OFF" type="checkbox" data-toggle="toggle" data-size="large" <% if (data.fanHumi == 1) { %>checked<% } %>>
			</div>
		  </div>
		  <div style="text-align: right;" class="col-sm">
			<div class="led">
				<span class="led">FanTemp:</span>
				<input id="button2" data-on="ON" data-off="OFF" type="checkbox" data-toggle="toggle" data-size="large" <% if (data.fanTemp == 1) { %>checked<% } %>>
			</div>
		  </div>
		</div>
	  </div>
	<div id="auto">
		<h1 style="text-align: center;">bảng thiết lập chế độ auto</h1>
		<h2 style="text-align: center;"><---------------------------------------------------------------------------------------------></h2>
		<div style="text-align: center;">
			<h3>thiết lập thời gian loa</h3>
			<input class="checkBoxDay" type="checkbox" id="0" value="thứ hai">
			<label class="labelCheckBoxDay" for="0">thứ hai</label>
			<input class="checkBoxDay" type="checkbox" id="1" value="thứ ba">
			<label class="labelCheckBoxDay" for="1">thứ ba</label>
			<input class="checkBoxDay" type="checkbox" id="2" value="thứ tư">
			<label class="labelCheckBoxDay" for="2">thứ tư</label>
			<input class="checkBoxDay" type="checkbox" id="3" value="thứ năm">
			<label class="labelCheckBoxDay" for="3">thứ năm</label>
			<input class="checkBoxDay" type="checkbox" id="4" value="thứ sáu">
			<label class="labelCheckBoxDay" for="4">thứ sáu</label>
			<input class="checkBoxDay" type="checkbox" id="5" value="thứ bảy">
			<label class="labelCheckBoxDay" for="5">thứ bảy</label>
			<input class="checkBoxDay" type="checkbox" id="6" value="chủ nhật">
			<label class="labelCheckBoxDay" for="6">chủ nhật</label>
			<div style="float: left; margin: 2em 0 0 5em;">
				<input type="time" id="timeStart">
				<label for="timeStart">thời gian bắt đầu</label>
			</div>
			<div style="float: right; margin: 2em 5em 0 0;">
				<label for="timeStart">thời gian kết thúc</label>
				<input type="time" id="timeStop">
			</div>
		</div>
		<div style="clear: both;">
			<h2 style="text-align: center;">---------------------------------------------------------------------------------------------</h2>
		</div>
		<div style="text-align: center;">
			<h3>thiết lập giá trị nhiệt độ</h3>
			<input id="setTemp" style="margin: 10px;" type="number" placeholder="nhập giá trị" >
		</div>
		<div style="text-align: center;">
			<h3>thiết lập giá trị độ ẩm</h3>
			<input id="setHumi" style="margin: 10px;" type="number" placeholder="nhập giá trị" value="0">
		</div>
		<input id="submit" class="btn btn-primary" type="button" value="Submit">
		<div  style="height: 50px; width: 350px; border-radius: 10px; margin: 10px auto; background-color: rgb(24, 68, 43); color: seashell; text-align: center; padding: 15px;" class="container ">
			<div class="row">
				<div class="col-sm">
					<span>Speaker:</span>
					<span id="speaker"></span>
				</div>
				<div class="col-sm">
					<span>fanHumi:</span>
					<span id="fanHumi"></span>
				</div>
				<div class="col-sm">
					<span>fanTemp:</span>
					<span id="fanTemp"></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
