<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tra cứu database</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/layout.tracuu.css" />
    <link rel="shortcut icon" type="image/png" href="/image/tracuu.png" />
    <link rel="stylesheet" type="text/css" href="/css/navi-bar.css" />
</head>

<body>
    <div id="header">
        <ul>
            <li><a href="/">Giới thiệu</a></li>
            <li><a href="/home/">Điều khiển</a></li>
            <li><a href="/home/lichsu">Lịch sử</a></li>
            <li><a href="/home/tracuu">Tra cứu</a></li>
            <li><a href="/home/charts">Biểu đồ</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="hitstory">
            <div>
                <input type="date" id="input" name="trip-start">
                <div>
                    <span id="thongbao"></span>
                </div>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th colspan="1">Ánh sáng</th>
                            <th colspan="1">Nhiệt độ</th>
                            <th colspan="1">Độ ẩm</th>
                            <th colspan="1">Nhiệt độ1</th>
                            <th colspan="1">Độ ẩm1</th>
                            <th colspan="1">Thời gian</th>
                            <th colspan="1">Bơm</th>
                            <th colspan="1">PS</th>
                            <th colspan="1">ĐR</th>
                            <th colspan="1">MR</th>
                            <th colspan="1">Quạt</th>
                            <th colspan="1">KN</th>
                            <!-- <th colspan="1">Sưởi</th> -->
                        </tr>
                    </thead>
                    <div style="scroll-behavior: auto;">
                        <tbody id="lich">
                        </tbody>
                    </div>
                </table>
            </div>
            
        </div>
    </div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="/js/xuly.tracuu.js"></script>
</body>

</html>